<nav>
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><svg width="285" height="329" viewBox="0 0 285 329" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M40.1528 321.5L63.6544 208L104.653 10L151.153 321.5M151.153 321.5C151.153 321.5 150.511 131.648 177.653 10C277.653 101 316.02 247.981 151.153 321.5Z" stroke="white" stroke-width="10"/>
    <path d="M279.15 203.5C279.15 203.5 -2.43275 163.604 5.15046 203.5" stroke="white" stroke-width="10" stroke-linecap="round"/>
  </svg></a>    
  <ul>
    <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>